In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [3]:
data_train

                                                Tweets     label
0    Asked #ChatGPT about what it thinks are the pr...  Positive
1    #ChatGPT tornado has already traveled around t...   Neutral
2    This is a great explanation of why #EVs are mo...  Positive
3    ‘if you need to write a box-ticking social med...  Positive
4    Just saw an AI tool making my coffee for me. \...  Positive
..                                                 ...       ...
765                                                NaN       NaN
766                                                NaN       NaN
767                                                NaN       NaN
768                                                NaN       NaN
769                                                NaN       NaN

[770 rows x 2 columns]

#### Preprocessing train data

In [4]:
data_train.shape

(770, 2)

In [5]:
data_train.isnull().sum()

Tweets    171
label     171
dtype: int64

In [6]:
data_train.dropna(inplace=True)

In [7]:
data_train.duplicated().sum()

0

In [8]:
from sklearn import preprocessing 
   
le = preprocessing.LabelEncoder() 
  
data_train['label'] = le.fit_transform(data_train['label']) 
  
data_train['label'].unique()

array([2, 1, 0])

In [9]:
data_train

                                                Tweets  label
0    Asked #ChatGPT about what it thinks are the pr...      2
1    #ChatGPT tornado has already traveled around t...      1
2    This is a great explanation of why #EVs are mo...      2
3    ‘if you need to write a box-ticking social med...      2
4    Just saw an AI tool making my coffee for me. \...      2
..                                                 ...    ...
594  4. GPT’s AI capabilities are also more accessi...      2
595  3. KeyboardX also provides a more secure envir...      2
596  2. KeyboardX allows users to quickly and easil...      2
597  I asked ChatGPT why the app I’m working on, Ke...      2
598  There's been a lot of talk about AI engines an...      2

[599 rows x 2 columns]

In [10]:
data_train.replace([2,1,0],[1,0,-1],inplace=True)

In [11]:
data_train

                                                Tweets  label
0    Asked #ChatGPT about what it thinks are the pr...      1
1    #ChatGPT tornado has already traveled around t...      0
2    This is a great explanation of why #EVs are mo...      1
3    ‘if you need to write a box-ticking social med...      1
4    Just saw an AI tool making my coffee for me. \...      1
..                                                 ...    ...
594  4. GPT’s AI capabilities are also more accessi...      1
595  3. KeyboardX also provides a more secure envir...      1
596  2. KeyboardX allows users to quickly and easil...      1
597  I asked ChatGPT why the app I’m working on, Ke...      1
598  There's been a lot of talk about AI engines an...      1

[599 rows x 2 columns]

In [25]:
import re


def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub('https?://\S+|www\.\S+','',text)
    text = re.sub('\n','',text)
    text = re.sub('\w*\d\w*','',text)
    return text

In [26]:
data_train['Tweets'] = data_train['Tweets'].apply(wordopt)

In [14]:
# 1 for positive response , -1 for negetive and 0 for neutral.

#### Preprocessing test data

In [15]:
data_test

,@CoffeeVectors @jenny____r confirmed #ChatGPT has dad jokes https://t.co/tC2Sks2f76,Positive
0,Sooooo depressing (our competition as journos ...,Negative
1,I just had a 4 hour deep conversation with #Ch...,Positive
2,I began to explore #chatgpt today.\n\nI asked ...,Negative
3,/2023\n1. Ask #ChatGPT\n2. Add some content\n3...,Positive
4,#Explained: Are you soon going to be replaced?...,Negative
...,...,...
165,Earth's #OpenAIChatGPT has become sentient an...,Positive
166,The first response was elaborate with some obv...,Positive
167,The absolutely terrifying inevitability of #Ch...,Negative
168,I asked ChatGPT what video would give the most...,Neutral
169,Not every postgrad student trying this prompt ...,Neutral

In [16]:
data_test = data_test.rename(columns={'@CoffeeVectors @jenny____r confirmed #ChatGPT has dad jokes https://t.co/tC2Sks2f76': 'Tweets', 'Positive': 'label'})

In [17]:
data_test.isnull().sum()

Tweets    0
label     0
dtype: int64

In [18]:
data_test.replace(['Positive','Neutral','Negative'],[1,0,-1],inplace=True)

In [19]:
data_test

                                                Tweets  label
0    Sooooo depressing (our competition as journos ...     -1
1    I just had a 4 hour deep conversation with #Ch...      1
2    I began to explore #chatgpt today.\n\nI asked ...     -1
3    /2023\n1. Ask #ChatGPT\n2. Add some content\n3...      1
4    #Explained: Are you soon going to be replaced?...     -1
..                                                 ...    ...
165  Earth's #OpenAIChatGPT  has become sentient an...      1
166  The first response was elaborate with some obv...      1
167  The absolutely terrifying inevitability of #Ch...     -1
168  I asked ChatGPT what video would give the most...      0
169  Not every postgrad student trying this prompt ...      0

[170 rows x 2 columns]

In [20]:
import tensorflow as tf

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing import sequence

In [29]:
X_train = data_train['Tweets']
Y_train = data_train['label']

In [30]:
X_test = data_train['Tweets']
Y_test = data_train['label']

In [31]:
max_length = 50
X_train = sequence.pad_sequences(X_train, maxlen=max_length)
X_test = sequence.pad_sequences(X_test, maxlen=max_length)

ValueError: invalid literal for int() with base 10: 'econtwitter  urbaneconomics  sselvan https   t co '

In [28]:
print(X_train)

0      asked  chatgpt about what it thinks are the pr...
1       chatgpt tornado has already traveled around t...
2      this is a great explanation of why  evs are mo...
3       if you need to write a box ticking social med...
4      just saw an ai tool making my coffee for me   ...
                             ...
594      gpt s ai capabilities are also more accessib...
595      keyboardx also provides a more secure enviro...
596      keyboardx allows users to quickly and easily...
597    i asked chatgpt why the app i m working on  ke...
598    there s been a lot of talk about ai engines an...
Name: Tweets, Length: 599, dtype: object

In [41]:
model = Sequential()

In [42]:
model.add(LSTM(70))
model.add(Dense(1, activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
model.fit(X_train,Y_train,epochs=4, batch_size=32)

Epoch 1/4

ValueError: in user code:

    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1338, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1322, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1303, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1080, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\sreek\anaconda3\lib\site-packages\keras\src\engine\input_spec.py", line 235, in assert_input_compatibility
        raise ValueError(

    ValueError: Exception encountered when calling layer 'sequential_1' (type Sequential).

    Input 0 of layer "lstm_3" is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 1)

    Call arguments received by layer 'sequential_1' (type Sequential):
      • inputs=tf.Tensor(shape=(None, 1), dtype=string)
      • training=True
      • mask=None